.type-1734 .content-hover:hover .theme-icon {
  transition: opacity 0.3s ease;
  opacity: 1; }
.type-1734 .content-hover .theme-icon {
  transition: opacity 0.3s ease;
  opacity: 0.6;
  text-align: center;
  color: #fff;
  width: 70px;
  height: 43px; }
  .type-1734 .content-hover .theme-icon .icon-content {
    font-size: 15px;
    width: 46px; }
.type-1734 .box-icon1 .theme-icon:hover {
  opacity: 0.6; }
.type-1734 .box-icon1 .theme-icon1 {
  position: relative;
  left: 0;
  display: block;
  width: 46px;
  height: 33px;
  text-align: center;
  font-size: 17px;
  color: #fff; }
  .type-1734 .box-icon1 .theme-icon1 .fas {
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin-top: -23px;
    left: 0; }
