.type-1749 .form-control {
  color: black; }
.type-1749 .social_icon {
  position: absolute;
  right: 20px;
  top: -45px; }
.type-1749 .input-group-prepend span {
  width: 50px;
  background-color: #FF0000;
  color: white;
  border: 0 !important; }
