.type-8 .btn::before {
  content: "\002B";
  padding-left: 13px;
  padding-top: 0;
  padding-right: 13px;
  padding-bottom: 4px;
  background-color: #b04746;
  text-align: center;
  font-size: 30px;
  color: white; }
.type-8 .content::before {
  content: "\2212"; }
