$bg-color:#b04746;
$col-titel:#636363;


.type-29 {
  .btn::before {
    content: "\002B";
    padding-left: 13px;
    padding-top: 0;
    padding-right: 13px;
    padding-bottom: 4px;
    background-color: $bg-color;
    text-align: center;
    font-size: 30px;
    color: white; }
  .content::before {
    content: "\2212"; 
  }
  
  .menu {
    background-color: #ebebeb;
    .bread {
      list-style-type: none;
      .item-bread {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        .icons {
          font-size: 10px;
          color: $col-titel;
        }
        .item {
          text-decoration: none;
          font-family: "Roboto Slab";
          color: $col-titel;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 26px;
          &:hover {
            color: $bg-color;
          }
        }
      }
    }
  }
  .username {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .boder-login {
    border: solid;
    border-color: #f7f7f7;
    padding-bottom: 33px;
    padding-top: 30px;
    background-color: #f7f7f7;
    padding-left: 19px;
    padding-right: 19px;
  }
  .login {
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  .icons {
    font-size: 8px;
  }
  .bs-example {
    margin: 20px;
  }
  .accordion .fa {
    font-size: 24px;
    margin-left: 0rem;
  }
  .card {
    .progress {
      height: 35px;
    }
    .progress1 {
      .content {
        margin-right: 10rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 3rem;
        margin-left: 4rem;
        font-size: 22px;
        font-weight: bold;
        color: black;
      }
    }
    .progress2 {
      width: 60%;
      font-size: 16px;
    }
  }
  
 
}
