
.type-1734 {
  
  
  .content-hover{
    &:hover {
      .theme-icon {
        transition: opacity .3s ease;
        opacity: 1;
      }
      
    }

    .theme-icon {
      transition: opacity .3s ease;
      opacity: 0.6;
      text-align: center;
      color: #fff;
      width: 70px;
      height: 43px;
      .icon-content{
        font-size: 15px;
        width: 46px;
      }
    }
  }

  .box-icon1 {
    .theme-icon:hover {
      opacity: 0.6;
    }
    .theme-icon1 {
      position: relative;
      left: 0;
      display: block;
      width: 46px;
      height: 33px;
      text-align: center;
      font-size: 17px;
      color: #fff;
      .fas {
        position: absolute;
        display: block;
        width: 46px;
        height: 46px;
        line-height: 46px;
        margin-top: -23px;
        left: 0;
      }
    }
  }

}