.type-29 .btn::before {
  content: "\002B";
  padding-left: 13px;
  padding-top: 0;
  padding-right: 13px;
  padding-bottom: 4px;
  background-color: #b04746;
  text-align: center;
  font-size: 30px;
  color: white; }
.type-29 .content::before {
  content: "\2212"; }
.type-29 .menu {
  background-color: #ebebeb; }
  .type-29 .menu .bread {
    list-style-type: none; }
    .type-29 .menu .bread .item-bread {
      display: inline-block;
      width: 120px;
      height: 40px;
      line-height: 40px; }
      .type-29 .menu .bread .item-bread .icons {
        font-size: 10px;
        color: #636363; }
      .type-29 .menu .bread .item-bread .item {
        text-decoration: none;
        font-family: "Roboto Slab";
        color: #636363;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px; }
        .type-29 .menu .bread .item-bread .item:hover {
          color: #b04746; }
.type-29 .username {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }
.type-29 .boder-login {
  border: solid;
  border-color: #f7f7f7;
  padding-bottom: 33px;
  padding-top: 30px;
  background-color: #f7f7f7;
  padding-left: 19px;
  padding-right: 19px; }
.type-29 .login {
  margin: 8px 0;
  border: none;
  cursor: pointer; }
.type-29 .icons {
  font-size: 8px; }
.type-29 .bs-example {
  margin: 20px; }
.type-29 .accordion .fa {
  font-size: 24px;
  margin-left: 0rem; }
  .type-29 .card .progress {
    height: 35px; }
    .type-29 .card .progress1 .content {
      margin-right: 10rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 3rem;
      margin-left: 4rem;
      font-size: 22px;
      font-weight: bold;
      color: black; }
  .type-29 .card .progress2 {
    width: 60%;
    font-size: 16px; }
