$witch:120px;
$height:40px;
$mg_left:35px;
$bg_color: #23a455;
$bg1_color: #7a7a7a;
$col-bgblack:black;
$col-bgwhite:white;
$f-size10:10px;
$f-size14:14px;


.type-8 {
    .title{
        color: #fff;
        background-color: $col-bgblack;
        .p-title{
            margin-left: 35px;
        }
    }
    .menu {
        background-color: #ebebeb;
        .bread {
          list-style-type: none;
          .item-bread {
            display: inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            .icons {
              font-size: 10px;
              color: #636363;
            }
            .item {
              text-decoration: none;
              font-family: "Roboto Slab";
              color: #636363;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 26px;
                &:hover {
                  color: #a83332;
                }
            }
          }
        }
      }


*{box-sizing: border-box}

/* Style the tab */
.tab {
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #fff;
  border-left: 3px solid #b04746;
}

/* Style the tab content */
.tabcontent {
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}
             
}
